.pokegallery{
    
    display: inline-flex;
    flex-wrap: wrap;
    
}
.card{
    margin:auto;
    width: 10rem;
    height: 15rem;
    background-color: transparent ;
    /* margin: 10px; */
    text-align: center;
    
}